<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>
  <body class="align">
    <div class="grid">
  
      <div class="registration_form">
  
        <h2>Login</h2>
  
        <form class="form" method="post" action="/login">
          <input class="input" type="text" name="username" id="name" autocomplete="off" placeholder="username"><br>
          <span class="login_error" id="name_error"></span>
  
          <input class="input" type="password" name="password" id="password" placeholder="••••••••••••"><br>
          <span class="login_error" id="password_error"></span>
  
          <br><input class="button" type="submit" name="reg" value="Submit" id="reg"><br>
          <div id="already">
            <h3 onclick="window.location.href='/register'">Don't have an account? register</h3>
          </div>
        </form>
      </div>
    </div>
    <script src="/javascripts/login.js"></script>
  </body>
</html>