<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/upload.css">
    
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="body">
        <div id="heading">
            <h1>Upload</h1>
            </div>
        <form action="/upload" id="uploadform" method="post" enctype="multipart/form-data">
        <div id="first">
            <label for="name">Image Thumbnail:</label>
            <input type="file" id="namel" name="image">
        </div>
        <div id="second">
            <label for="name">Video:</label>
            <input type="file" id="name" name="video">
        </div>
        <div id="third">
            <label for="name">About:</label>
            <input type="textarea" name="caption"  cols="100" rows="3" placeholder="Describe about video..">
        </div>
        <div id="fourth">
            <input type="submit">
        </div>
        </form>
    </div>
    <script>
          document.querySelector("#selectimage")
        .addEventListener("click", function(){
            document.querySelector("#uploadform input[name='image']").click();
        });
          document.querySelector("#selectvideo")
        .addEventListener("click", function(){
            document.querySelector("#uploadform input[name='video']").click();
        });
    </script>
</body>
</html>
