<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video</title>
    <link rel="stylesheet" href="/stylesheets/video.css">
</head>
<body>
    <div id="full">
    <div id="page1">
        <video controls autoplay muted loop>
            <!-- Provide the path to your video file -->
            <source src="IMG_9549.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div id="describe">
            <h3>This is a description of the video.</h3>
        </div>
        <div id="details">
            <div id="first">
                <img src="https://th.bing.com/th/id/OIP.Vy5PUdCk1nZpeE31MCa1pwHaHa?rs=1&pid=ImgDetMain" alt="#">
            </div>
            <div id="first1">
                <div id="name">channel-name</div>
            </div>
        </div>
    </div>
    <div id="comments">
        <h2>comments</h2>
        <div id="enter">
            <img src="https://th.bing.com/th/id/OIP.Vy5PUdCk1nZpeE31MCa1pwHaHa?rs=1&pid=ImgDetMain" alt="#">
        </div>
        <form action="" method="post">
            <input type="text" placeholder="Add a comment..." id="text">
            <input type="submit" placeholder="submit" id="sub">
        </form>
    </div>
</div>
</body>
</html>
