* {
    box-sizing: border-box;
    font-family: Georgia, serif;
  }
  html {
    height: 50%;
    width: 20%;
    background-color: black;
  }
  body {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 20px;
    top: 200px;
  }
  #heading
  {
    color: black;
    text-align: center;
  }

  #uploadform hr{
    border-color: white;
  }
  #uploadform{
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
  }
  #third{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  #first{
    padding: 10px;
  }
  #second{
    padding: 10px;
  }
  #fourth{
    padding: 10px;
  }
  #uploadform input{
    padding: 10px;
  }
  #uploadform label{
    font-weight: bold;
    color: slategray;
  }
  #third  input{
    border-radius: 10px;
    margin-top: 8px;
<<<<<<< HEAD
  }
=======
  }
>>>>>>> e2085f4dd43f8699734f433fe352d08329475d7a
