* {
    box-sizing: border-box;
    font-family: Georgia, serif;
  }
  body,html {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
    padding: 6px;
    color: white;
  }
#full{
  display: flex;
}
video {
    width: 100%;
    height: 80vh; /* 80% of the viewport height */
    object-fit: cover; /* Ensure the video covers the entire container */
}
#comments{
  width: calc(50% - 250px);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#comments h2{
  color: white;
  padding-left: 10px;
  text-align: center;
}
#enter img{
  height: 25px;
  width: 25px;
  border-radius: 20px;
  margin-bottom: 10px;
}
#comments input{
  background-color: black;
  color: grey;
}
form{
  display: flex;
  flex-direction: column;
}
#sub{
  text-align: center;
  color: white;
  width: 20%;
  border-radius: 20px;
  padding: 5px;
  border: 2px solid blue;
}
#text{
  margin-bottom: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
}
#describe{
  color: white;
}
#first img{
  height: 25px;
  width: 25px;
  border-radius: 20px;
  margin-bottom: 10px;
}
